---
// filepath: /C:/Users/Adeeb/OneDrive - K L University/Desktop/astrotravel/travel/src/pages/index.astro
import Carousel from '../components/Carousel.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import OurPackages from '../components/OurPackages.astro';
import TravellerReview from '../components/TravellerReview.astro';
import OurPartner from '../components/OurPartner.astro';
import JoinUs from '../components/JoinUs.astro';
---


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="./src/public/favicon.ico" type="image/x-icon" />
  <title>Travel Platform - Your Gateway to Amazing Travel Experiences</title>
  <meta name="description" content="Discover amazing travel experiences with our comprehensive booking solutions tailored for travel agencies and corporate entities. Streamline your operations with our advanced platform." />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Travel Platform",
      "url": "https://b2b.travelplatformonline.com",
      "logo": "https://b2b.travelplatformonline.com/src/assets/logo.png",
      "sameAs": [
        "https://www.facebook.com/travelplatform",
        "https://www.twitter.com/travelplatform",
        "https://www.instagram.com/travelplatform"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1-800-555-5555",
        "contactType": "Customer Service"
      }
    }
  </script>
</head>


<Layout>
  <Carousel />
  <Header />
  <Services />
  <OurPackages />
  <TravellerReview />
  <OurPartner />
  <JoinUs />
</Layout>